# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/
.build/
*.dylib
*.so
*.dll

# Example app build cruft
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/build/
example/android/.gradle/
example/android/app/.cxx/
example/android/.cxx/
android/.cxx/
.cxx/
example/android/local.properties
example/ios/Pods/
example/ios/.symlinks/
example/macos/Pods/
example/.gradle/

# Native desktop build output of the plugin
desktop_build/

.DS_Store
